<h1>Help</h1>
<p>
  Need some help with the static app?
  <a href="http://www.railstutorial.org/help">Go here</a>.
  Or
  <a href="http://www.railstutorial.org/book"><em>this place is cool too!</em></a>
</p>
<a href="about">About</a> | <a href="/">Home</a>